﻿@page
@model PrimerWebApp.Pages.ContactModel
@{
}

<h3>Formulario de contacto</h3>

<!--Mostrar mensaje-->
@if (Model.hasData)
{
    <p>Hola @Model.firstName @Model.lastName</p>
    <p>Hemos recibido correctamente su siguiente mensaje:</p>
    <p>@Model.message</p>
}

<div class="container">
    <form method="POST">
        <label for="firstName">Nombre:</label><br />
        <input type="text" id="firstName" name="firstname" /><br />

        <label for="lastName">Apellido:</label><br />
        <input type="text" id="lastName" name="lastname" /><br />

        <label for="message">Mensaje:</label><br/>
        <textarea id="message" name="message" style="height:200px"></textarea><br />

        <input type="submit" value="Enviar" />
    </form>
</div>